.input {
  width: 100%;
  max-width: 200px;
  height: 22px;
  padding-left: 10px;
  border: 1px solid var(--input-border);
  border-radius: 4px;

  color: var(--text-bold);

  background-color: transparent;
  caret-color: var(--blue);

  transition: var(--transition);

  &:hover,
  &:focus-visible {
    border: 1px solid var(--blue);
    outline: none;
  }

  @media (width <= 1440px) {
    padding-left: 8px;
    font-size: 11px;
  }

  @media (width <= 1024px) {
    height: 18px;
    padding-left: 6px;
    font-size: 9px;
  }
}
