.preloader {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  transition: 1s linear;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid var(--blue);
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
