.taskColumn {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 25%;
  max-width: 430px;
  padding: 32px 16px;
  border-radius: 4px;
  background-color: var(--black-2);

  [data-rbd-placeholder-context-id] {
    flex-grow: 1 !important;
    height: 100% !important;
  }

  @media (width <= 768px) {
    flex: 0 0 200px;
    width: 200px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-bold);
  fill: var(--icon-color);

  @media (width <= 1440px) {
    font-size: 18px;
  }

  @media (width <= 1024px) {
    font-size: 12px;
  }
}

.icon {
  width: 24px;
  height: 24px;

  @media (width <= 1440px) {
    width: 20px;
    height: 20px;
  }

  @media (width <= 768px) {
    width: 18px;
    height: 18px;
  }
}

.add {
  cursor: pointer;
  font-size: 14px;
  color: var(--text-regular);
  transition: var(--transition);

  &:hover {
    color: var(--blue);
  }

  &.disabled {
    color: var(--red);
    pointer-events: none;
  }

  @media (width <= 1440px) {
    font-size: 12px;
  }

  @media (width <= 1024px) {
    font-size: 10px;
  }
}

.tasks {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1px;
}

.nothingToShow {
  color: var(--text-bold);
  text-align: center;
  font-size: 14px;

  @media (width <= 1440px) {
    font-size: 12px;
  }

  @media (width <= 1024px) {
    font-size: 10px;
  }
}
