*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;

  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
}
