:root {
  --text-bold: rgba(from #fff r g b / 87%);
  --text-regular: rgba(from #fff r g b / 60%);
  --white-1: rgba(from #fff r g b / 20%);
  --white-2: rgba(from #fff r g b / 10%);
  --white-3: rgba(from #fff r g b / 8%);
  --black: rgba(from #000 r g b / 70%);
  --red: rgba(from #fc3639e5 r g b / 60%);
  --blue: #0184cf;
}
