.tasksPage {
  display: flex;
  flex-direction: column;
  gap: 52px;

  width: 100vw;
  height: 100vh;
  padding: 58px 40px;

  @media (width <= 1024px) {
    gap: 26px;
    padding: 29px 20px;
  }
}

.titleAndSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-size: 40px;
  font-weight: 700;
  color: var(--text-bold);

  @media (width <= 1024px) {
    font-size: 30px;
  }
}

.tasksColumns {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;

  height: calc(100vh - 200px);

  @media (width <= 768px) {
    overflow-x: scroll;
  }
}
