.taskCard {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  min-height: auto;
  padding: 16px;
  border-radius: 4px;

  background-color: var(--white-2);

  transition: var(--transition);

  &:hover {
    outline: 1px solid var(--blue);

    // .options {
    //   display: flex;
    // }
  }

  @media (width <= 1024px) {
    padding: 10px;
  }
}
