.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.editButtons {
  position: relative;
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-3);
    transition: var(--transition);

    &:hover {
      background-color: var(--white-1);
    }

    @media (width <= 1024px) {
      width: 35px;
      height: 35px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    @media (width <= 768px) {
      width: 30px;
      height: 30px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.cross {
  fill: var(--icon-color);
}

.check {
  fill: var(--blue);
}
